# Initiate all data files

#### import pandas

In [1]:
import pandas as pd

#### Use one of the files to identify columns of interest for analysis

In [2]:
def create_df_from_multi_json_files(list_of_files,source_id):
    #initiate count for identifing source_id
    source_index=0
    #initiate output data
    out_data=pd.DataFrame()
    for file in list_of_files:
        # read the entire file into a python
        with open(file, 'r') as f:
            data = f.readlines()

        # remove the trailing "\n" from each line
        data = map(lambda x: x.rstrip(), data)

        # each element of 'data' is an individual JSON object.
        # i want to convert it into an *array* of JSON objects
        # which, in and of itself, is one large JSON object
        # basically... add square brackets to the beginning
        # and end, and have all the individual business JSON objects
        # separated by a comma
        data_json_str = "["+','.join(data)+"]"

        # now, load it into pandas
        data = pd.read_json(data_json_str)
        #newcolumn discribing the file it came from
        data['tweetsource']=source_id[source_index]
        #advance the source_index for the next iteration
        source_index+=1
        out_data=out_data.append(data)
    return out_data

In [3]:
files=[
       'atAlabamaFTBL.txt',
       'atBadgerFootball.txt',
       'atClemsonFB.txt',
       'atOhioStateFB.txt',
       'atOU_Football.txt',
       'atPennStateFball.txt',
       'atUW_Football.txt',
       'atUMichFootball.txt',
       'hashClemson.txt',
       'hashMichigan.txt',
       'hashOhioState.txt',
       'hashPennState.txt',
       'hashWisconsin.txt',
       'hasWashington.txt']
ids=[
    '@AlabamaFTBL',
    '@BadgerFootball',
    '@ClemsonFB',
    '@OhioStateFB',
    '@OU_Football',
    '@PennStateFball',
    '@UW_Football',
    '@UMichFootball',
    '#ALLIN-Clemson',
    '#GoBlue-Michigan',
    '#GoBucks-OhioState',
    '#PSUnrivaled-PennState',
    '#OnWisconsin-Wisconsin',
    '#PurpleReign-Washington']
all_data=create_df_from_multi_json_files(list_of_files=files,source_id=ids)

#### Be sure the data was placed in the DF correctly

In [4]:
all_data.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user,tweetsource
0,NaN,NaN,2016-12-06 22:36:12,"{'hashtags': [{'indices': [28, 37], 'text': 'R...",NaN,0,False,NaN,806266015214608385,806266015214608384,...,NaN,NaN,463,False,"{'entities': {'hashtags': [{'indices': [11, 20...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlabamaFTBL: It's back! #RollTide,False,"{'notifications': None, 'entities': {'descript...",@AlabamaFTBL
1,NaN,NaN,2016-12-06 22:36:08,"{'hashtags': [{'indices': [69, 78], 'text': 'R...",{'media': [{'media_url': 'http://pbs.twimg.com...,0,False,NaN,806266000228421632,806266000228421632,...,NaN,NaN,62,False,"{'entities': {'hashtags': [{'indices': [52, 61...","<a href=""http://twitter.com/download/android"" ...",RT @AlabamaFTBL: Congratulations to our All-SE...,False,"{'notifications': None, 'entities': {'descript...",@AlabamaFTBL
2,NaN,NaN,2016-12-06 22:36:03,"{'hashtags': [{'indices': [69, 78], 'text': 'R...",{'media': [{'media_url': 'http://pbs.twimg.com...,0,False,NaN,806265978191548416,806265978191548416,...,NaN,NaN,62,False,"{'entities': {'hashtags': [{'indices': [52, 61...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlabamaFTBL: Congratulations to our All-SE...,False,"{'notifications': None, 'entities': {'descript...",@AlabamaFTBL
3,NaN,NaN,2016-12-06 22:35:46,"{'hashtags': [{'indices': [69, 78], 'text': 'R...",{'media': [{'media_url': 'http://pbs.twimg.com...,0,False,NaN,806265908662517764,806265908662517760,...,NaN,NaN,62,False,"{'entities': {'hashtags': [{'indices': [52, 61...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlabamaFTBL: Congratulations to our All-SE...,False,"{'notifications': None, 'entities': {'descript...",@AlabamaFTBL
4,NaN,NaN,2016-12-06 22:35:41,"{'hashtags': [{'indices': [69, 78], 'text': 'R...",{'media': [{'media_url': 'http://pbs.twimg.com...,0,False,NaN,806265886927716353,806265886927716352,...,NaN,NaN,62,False,"{'entities': {'hashtags': [{'indices': [52, 61...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlabamaFTBL: Congratulations to our All-SE...,False,"{'notifications': None, 'entities': {'descript...",@AlabamaFTBL

In [5]:
print(len(all_data))

57778

## Identify needed columns and remove duplicate records

In [6]:
list(all_data.columns.values)

['contributors',
 'coordinates',
 'created_at',
 'entities',
 'extended_entities',
 'favorite_count',
 'favorited',
 'geo',
 'id',
 'id_str',
 'in_reply_to_screen_name',
 'in_reply_to_status_id',
 'in_reply_to_status_id_str',
 'in_reply_to_user_id',
 'in_reply_to_user_id_str',
 'is_quote_status',
 'lang',
 'metadata',
 'place',
 'possibly_sensitive',
 'quoted_status',
 'quoted_status_id',
 'quoted_status_id_str',
 'retweet_count',
 'retweeted',
 'retweeted_status',
 'source',
 'text',
 'truncated',
 'user',
 'tweetsource']

In [7]:
#desired columns
list_important_cols = ['user','text','id','retweeted','retweeted_status','retweet_count','tweetsource','created_at']

In [8]:
all_data=all_data[list_important_cols]
all_data.head()

,user,text,id,retweeted,retweeted_status,retweet_count,tweetsource,created_at
0,"{'notifications': None, 'entities': {'descript...",RT @AlabamaFTBL: It's back! #RollTide,806266015214608385,False,"{'entities': {'hashtags': [{'indices': [11, 20...",463,@AlabamaFTBL,2016-12-06 22:36:12
1,"{'notifications': None, 'entities': {'descript...",RT @AlabamaFTBL: Congratulations to our All-SE...,806266000228421632,False,"{'entities': {'hashtags': [{'indices': [52, 61...",62,@AlabamaFTBL,2016-12-06 22:36:08
2,"{'notifications': None, 'entities': {'descript...",RT @AlabamaFTBL: Congratulations to our All-SE...,806265978191548416,False,"{'entities': {'hashtags': [{'indices': [52, 61...",62,@AlabamaFTBL,2016-12-06 22:36:03
3,"{'notifications': None, 'entities': {'descript...",RT @AlabamaFTBL: Congratulations to our All-SE...,806265908662517764,False,"{'entities': {'hashtags': [{'indices': [52, 61...",62,@AlabamaFTBL,2016-12-06 22:35:46
4,"{'notifications': None, 'entities': {'descript...",RT @AlabamaFTBL: Congratulations to our All-SE...,806265886927716353,False,"{'entities': {'hashtags': [{'indices': [52, 61...",62,@AlabamaFTBL,2016-12-06 22:35:41

In [9]:
#CFB['user']=

In [10]:
#remove extra data from user field and return just the screen name
all_data['user']=all_data['user'].apply(lambda x:x['screen_name'])

In [11]:
#change retweeted_status to binary field based on if there is any value within the field
all_data['retweeted_status']=all_data['retweeted_status'].apply(lambda x:False if pd.isnull(x) else True)

### Check to see if the changes to the fields look correct

In [12]:
all_data.head()

,user,text,id,retweeted,retweeted_status,retweet_count,tweetsource,created_at
0,beardown17,RT @AlabamaFTBL: It's back! #RollTide,806266015214608385,False,True,463,@AlabamaFTBL,2016-12-06 22:36:12
1,country_ALgirl,RT @AlabamaFTBL: Congratulations to our All-SE...,806266000228421632,False,True,62,@AlabamaFTBL,2016-12-06 22:36:08
2,logan_averett,RT @AlabamaFTBL: Congratulations to our All-SE...,806265978191548416,False,True,62,@AlabamaFTBL,2016-12-06 22:36:03
3,mscthedude,RT @AlabamaFTBL: Congratulations to our All-SE...,806265908662517764,False,True,62,@AlabamaFTBL,2016-12-06 22:35:46
4,DallasWarmack,RT @AlabamaFTBL: Congratulations to our All-SE...,806265886927716353,False,True,62,@AlabamaFTBL,2016-12-06 22:35:41

### Use NLTK to idetify the Sentiment of each tweet

In [13]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

C:\Anaconda2\envs\py35\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [14]:
sid=SentimentIntensityAnalyzer()

In [15]:
#test to be sure vader is working correctly
print(sid.polarity_scores(str(all_data['text'][2:3].values)),str(all_data['text'][2:3]))

{'neg': 0.0, 'neu': 0.572, 'compound': 0.8172, 'pos': 0.428} 2    RT @AlabamaFTBL: Congratulations to our All-SE...
Name: text, dtype: object

In [16]:
all_data['compound']=all_data['text'].apply(lambda x: sid.polarity_scores(x)['compound'])
all_data['neg']=all_data['text'].apply(lambda x: sid.polarity_scores(x)['neg'])
all_data['pos']=all_data['text'].apply(lambda x: sid.polarity_scores(x)['pos'])
all_data['neu']=all_data['text'].apply(lambda x: sid.polarity_scores(x)['neu'])
all_data.head()

,user,text,id,retweeted,retweeted_status,retweet_count,tweetsource,created_at,compound,neg,pos,neu
0,beardown17,RT @AlabamaFTBL: It's back! #RollTide,806266015214608385,False,True,463,@AlabamaFTBL,2016-12-06 22:36:12,0.0000,0.0,0.000,1.000
1,country_ALgirl,RT @AlabamaFTBL: Congratulations to our All-SE...,806266000228421632,False,True,62,@AlabamaFTBL,2016-12-06 22:36:08,0.8172,0.0,0.428,0.572
2,logan_averett,RT @AlabamaFTBL: Congratulations to our All-SE...,806265978191548416,False,True,62,@AlabamaFTBL,2016-12-06 22:36:03,0.8172,0.0,0.428,0.572
3,mscthedude,RT @AlabamaFTBL: Congratulations to our All-SE...,806265908662517764,False,True,62,@AlabamaFTBL,2016-12-06 22:35:46,0.8172,0.0,0.428,0.572
4,DallasWarmack,RT @AlabamaFTBL: Congratulations to our All-SE...,806265886927716353,False,True,62,@AlabamaFTBL,2016-12-06 22:35:41,0.8172,0.0,0.428,0.572

### now export the completed file to csv

In [17]:
all_data.to_csv('CFBClean.csv')